h1,h2{
    text-align: center;
    font-family: Impact;
}
h2{
    font-size: 30px;
}
header p{
    text-align: center;
    font-style: italic;
}
.main{
   background-color: burlywood;
   width:80%;
   margin-left: auto;
   margin-right: auto;
   padding: 20px;
   max-width: 500px;
}
body{
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
    padding: 20px;
}
.row p {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    font-size: 18px;
}
h1{
    font-size: 40px;
    margin-top:0px;
    margin-bottom: 15px;
}
.item{
    width: 49%;
    text-align: left;
}
.price{
    width: 49%;
    text-align: right;
}
footer{
    text-align: center;
    font-size: 14px;
}
hr{
    height: 2px;
    background-color: brown;
    border-color: brown;
   margin-bottom: 5px;
}
.bottom{
    margin-top: 30px;
}
img{
   display: block;
   margin-left: auto;
   margin-right: auto; 
}
a{
    color: black;
}
a:visited{
   color:black;
}
a:hover{
    color: brown;
}
a:active{
    color: brown;
}